body {
  background: linear-gradient(to right, #f8f9fa, #e0eafc);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.experience-section {
  padding: 40px 20px; 
  background: linear-gradient(to right, #babfc3, #d4d7cc);
  text-align: center;
  min-height: 100dvh;
  scroll-margin-top: 80px;
}

.experience-heading {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #2c3e50;
  animation: fadeInDown 1s ease-in-out;
}

.experience-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.experience-item {
  background: #fff;
  border-left: 4px solid #0077cc;
  padding: 20px 30px 40px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: slideInUp 0.8s ease forwards;
  opacity: 0;
  position: relative;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.experience-item:hover {
  transform: translateY(-5px);
}

.experience-content {
  margin-bottom: 20px;
}

.role-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}

.duration {
  font-size: 1rem;
  color: #555;
  margin-top: 4px;
}

.company-circle {
  width: 80px;
  height: 80px;
  background-color: #0077cc;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: floatPulse 2.5s ease-in-out infinite;
}


@keyframes floatPulse {
  0%, 100% {
    transform: translateX(-50%) translateY(0) scale(1);
  }
  50% {
    transform: translateX(-50%) translateY(-6px) scale(1.05);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .experience-section {
    min-height: 60vh;
    padding: 40px 10px 10px;
  }

  .experience-heading {
    font-size: 2rem;
  }

  .experience-item {
    width: 95%;
    padding: 20px;
  }

  .role-title {
    font-size: 1.2rem;
  }

  .duration {
    font-size: 0.9rem;
  }

  .company-circle {
    width: 70px;
    height: 70px;
    font-size: 0.8rem;
    bottom: -35px;
  }
}

@media (max-width: 480px) {
  .experience-section {
    min-height: 60vh;
    padding: 40px 10px 10px;
  }
  .experience-heading {
    font-size: 1.8rem;
  }

  .experience-item {
    width: 100%;
  }

  .role-title {
    font-size: 1.1rem;
  }

  .duration {
    font-size: 0.85rem;
  }

  .company-circle {
    width: 60px;
    height: 60px;
    font-size: 0.75rem;
    bottom: -30px;
  }
}
